/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Caprasimo', cursive;*/

:root {
  --primary-color: #ff8a8a;
  --secondary-color: #113f67;
  --tertiary-color: #ffffff;
  --text-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #ffcbcb;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 44px;
  }

  .project {
    text-align: center;
    padding: 0 !important;
  }

  .hero h2 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 44px !important;
  }

  .hero {
    padding: 80px 20px !important;
  }

  .about-section {
    text-align: center;
    padding: 80px 20px !important;
  }
  .about-section h2 {
    font-size: 18px !important;
  }
}

.logo {
  max-width: 120px;
}

.navigation-bar {
  font-size: 16px !important;
}
.initials {
  font-family: "Caprasimo", cursive;
}
.initials:hover {
  color: var(--primary-color);
}
.link-color:hover {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

p {
  font-family: var(--default-font-family);
}

.contactBtn {
  font-family: var(--default-font-family);
  font-size: 18px;
  text-decoration: none;
  padding: 15px 30px;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  border-radius: 4px;
  line-height: 27px;
}

.contactBtn:hover {
  background: #3b6488;
  color: var(--tertiary-color);
  box-shadow: var(--box-shadow);
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-size: 16px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: var(--text-color);
  font-weight: normal;
  line-height: 2;
}

.hero p {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  color: black;
}

.learn {
  font-family: var(--default-font-family);
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  line-height: 27px;
}

.project {
  padding: 120px 60px;
}

.about-section {
  padding: 160px 20px;
  background: var(--tertiary-color);
}

.about-section h1 {
  line-height: 80px;
  font-size: 64px;
}

.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--default-font-family);
}

.about-section p {
  line-height: 30px;
  font-weight: normal;
  font-size: 16px;
  opacity: 0.7;
}

.about-section .left,
.right {
  padding: 40px;
}

.about-section img-fluid {
  height: auto;
}
/*
.feature p {
  text-align: center;
  color: var(--text-color);
  font-size: 16px;
}

h3{
  font-size: 64px; 
}

.text{
  line-height: 30px;
  color: var(--text-color);
  opacity: 0.7;
}

.project{
  padding: 120px 60px;
}

.learn{
  font-family: var(--default-font-family);
  font-size: 16px;
  text-decoration: none;
  padding: 15px 30px;
  background: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  line-height: 27px;
}
*/
